:root{
    --team-font-size: 40px;
    --gbl-logo: url("img/GBL STOIXIMAN HORIZONTAL WHITE.png");
    --main-bg :  url("https://www.dzinsights.com/services/blog-manager/public/BLOG/b90519c0-f7f6-48e2-8d9f-87e142afdd3d.webp");
}
*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 1000px;
    border: 1px solid #ffffff31;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(93, 134, 93);
    background-image: var(--main-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}

.control-panel{
    display: grid;
    grid-template-columns: auto auto;
}
.left-panel, .right-panel{
    color: #fff;
}

.left-panel div, .right-panel div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.scoreboard{
    position: absolute;
    bottom: 1dvh;
    left: 1dvw;
    width: 400px;
    height: 250px;
    border: 5px solid rgba(128, 128, 128, 0.466);
    border-radius: 30px 0 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.Section{
    width: 100%;
    height: 50%;
    margin: 0;
    
}
/* TOP SECTION */
/* .top{
    
    
} */
.teamBox{
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
    /* background-color: rgb(139, 113, 113); */
   
    font-size: var(--team-font-size);
    text-align: center;
    color: #fff;
    font-weight: 600;
    
}
.teamInfo{
    /* width: 50%; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-basis: 70%;
    border: 2px solid rgb(77, 75, 75);

}
.teamName{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamLogo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    width: 30%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#homeTeam .teamLogo{
    background-image: url("https://upload.wikimedia.org/wikipedia/el/f/f9/Aris_BC_%28logo%29.png");
}
#awayTeam .teamLogo{
    
    background-image: url("https://upload.wikimedia.org/wikipedia/en/8/86/P.A.O.K._B.C._logo.png");
}

#homeTeam .teamInfo{
    background: #c4b700;
background: linear-gradient(-90deg, rgba(196, 183, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);}
#awayTeam .teamInfo{
    background: #858585;
background: linear-gradient(-90deg, rgba(133, 133, 133, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
/* FOUL SECTION  */
.teamScore{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 0;
    height: 100%;
    background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(99, 98, 98, 1) 50%, rgba(0, 0, 0, 1) 100%);

}
.fouls{
    padding: px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height:10px;
}
.foul{
    width: 15%;
    background-color: rgb(145, 145, 145);
    height: 75%;

}
.yellow{
    background-color: rgb(248, 211, 43);
}
.red{
    background-color: red;
}
/* .foul:nth-child(1){
    background-color: red;
} */
/* BOT SECTION */
.bot{
    background-color: rgb(37, 37, 37);
    display: flex;
}
.gblLogo{
    
    background-image: var(--gbl-logo);
    background-size: 90%;
    background-repeat: no-repeat;
    height: 100%;
    width: 70%;
}
.gameInfo{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #fff;

}
.timer{
    align-content: center;
    height: 50%;
    font-size: 40px;
    text-align: center;
    font-weight: 500;

}
.periodInfo{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.currentPeriod{
    font-size: 20px;
}
.attackTimer{
    font-size: 30px;
}

.score-button,.foul-button, select{
    background: #962b00;
    background: radial-gradient(circle, rgb(255, 206, 143) 0%, rgba(250, 103, 45, 1) 60%, rgba(0, 2, 64, 0) 100%);
    font-size: 1.6rem;
    text-align: center;

}